html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent
}
a:active,
a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: bold
}
dfn {
    font-style: italic
}
h1 {
    font-size: 2em;
    margin: 0.67em 0
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 1em 40px
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}
pre {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible
}
button,
select {
    text-transform: none
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}
legend {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: bold
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td,
th {
    padding: 0
}
html,
button,
input,
select,
textarea {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
html {
    font-size: 1em;
    line-height: 1.4
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}
::selection {
    background: #b3d4fc;
    text-shadow: none
}
.browsehappy {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: #555 center no-repeat url(../img/old-ie-fist.png);
    color: #fff;
    text-align: center
}
.browsehappy p {
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 -.1em 0 #000, .1em -.1em 0 #000, .1em 0 0 #000, .1em .1em 0 #000, 0 .1em 0 #000, -.1em .1em 0 #000, -.1em 0 0 #000, -.1em -.1em 0 #000
}
@keyframes load {
    0% {
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }
    100% {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
}
@-webkit-keyframes load {
    0% {
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }
    100% {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
}
html,
body {
    overflow-x: hidden
}
body {
    background: #333;
    -webkit-tap-highlight-color: transparent
}
a {
    color: #fff;
    text-decoration: none
}
abbr[title] {
    border-bottom: 0
}
input,
button,
a {
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}
.pagination {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0)
}
.alert-msg {
    position: fixed;
    top: -3em;
    left: 50%;
    z-index: 11;
    padding: .5em 1em;
    box-shadow: 0 .1em 1em #000;
    border-radius: 0 0 .3em .3em;
    background: #fff;
    font-family: 'Source Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    text-align: center;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940)
}
.alert-msg.active {
    -moz-transform: translateX(-50%) translateY(3em);
    -ms-transform: translateX(-50%) translateY(3em);
    -webkit-transform: translateX(-50%) translateY(3em);
    transform: translateX(-50%) translateY(3em)
}
.menu-trigger {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}
.menu-trigger.pushed {
    -moz-transform: translate3d(10em, 0, 0);
    -webkit-transform: translate3d(10em, 0, 0);
    transform: translate3d(10em, 0, 0)
}
.menu-trigger.pushed button:before {
    content: 'CLOSE'
}
.menu-trigger button {
    padding: 0 1em;
    border: 0;
    outline: 0;
    background: none;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 3em
}
.menu-trigger button:before {
    content: 'MENU'
}
body>header {
    position: fixed;
    top: 0;
    left: -10.125em;
    z-index: 1;
    width: 10em;
    height: 100%;
    overflow: auto;
    border-right: .125em solid #000;
    background: #444;
    text-shadow: 0 1px 0 #000;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}
body>header.pushed {
    -moz-transform: translate3d(10.125em, 0, 0);
    -webkit-transform: translate3d(10.125em, 0, 0);
    transform: translate3d(10.125em, 0, 0)
}
body>header h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 1em;
    line-height: 1em
}
body>header h1 a {
    display: block
}
body>header h1 a:hover,
body>header h1 a:focus {
    color: #BADA55
}
body>header h1 .logo {
    display: inline-block;
    width: 1.5em;
    padding-right: .0925em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 2.5em;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    text-shadow: .185em 0 0 #000;
    vertical-align: middle;
    -moz-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -webkit-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940)
}
body>header h1 .name {
    position: relative;
    left: -1em;
    display: inline-block;
    margin-left: .3em;
    font-size: 1.25em;
    line-height: 3em;
    vertical-align: middle;
    -moz-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -webkit-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940)
}
body>header nav {
    font-weight: 300;
    vertical-align: middle
}
body>header nav ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none
}
body>header nav li {
    display: block
}
body>header nav li:last-child svg {
    display: none
}
body>header nav a {
    position: relative;
    display: block;
    padding: 0 1em;
    font-size: 1.25em;
    line-height: 2.5em;
    text-transform: uppercase
}
body>header nav a::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background: #BADA55;
    content: '';
    -moz-transition: width 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: width 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -webkit-transition: width 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: width 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940)
}
body>header nav a:hover,
body>header nav a:focus {
    color: #BADA55
}
body>header nav a:hover::before,
body>header nav a:focus::before {
    width: .2em
}
body>header nav a.active {
    color: #BADA55
}
body>header nav input {
    display: none
}
svg.defs {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    visibility: hidden
}
main {
    position: relative;
    left: 0;
    z-index: 0;
    padding: -webkit-calc(3.875em + .5%) 0.5% 1%;
    padding: calc(3.875em + .5%) 0.5% 1%;
    box-shadow: 0 0 1em #1a1a1a;
    background: #1a1a1a
}
.flip {
    position: relative;
    display: inline-block;
    width: 90%;
    margin: 3% 5%;
    font-size: .8em
}
.flip::before {
    display: block;
    margin-top: 100%;
    content: ''
}
.flip.totop-link svg {
    fill: #666;
    -moz-transition: fill 200ms ease-in-out;
    -o-transition: fill 200ms ease-in-out;
    -webkit-transition: fill 200ms ease-in-out;
    transition: fill 200ms ease-in-out
}
.flip.totop-link:hover svg,
.flip.totop-link:focus svg {
    fill: #BADA55
}
.flip .flip-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
.flip .card-face {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: center no-repeat;
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, 0.15);
    font-weight: 700;
    text-align: center
}
.flip .face-front .inner {
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-align: right
}
.flip .face-front .card-title,
.flip .face-front .card-subtitle {
    margin: 0;
    font-weight: 700;
    line-height: .8em;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.4)
}
.flip .face-front .card-title {
    font-size: 1.25em
}
.flip .face-front .card-subtitle {
    font-size: 3em
}
.flip .face-front .plus,
.flip .face-front .arrow {
    position: absolute;
    top: calc(50% - .5em);
    left: 0;
    right: 0;
    font-family: arial, sans-serif;
    font-size: 10em;
    line-height: 1em;
    font-weight: normal;
    text-align: center
}
.flip .face-front .arrow {
    font-size: 6em
}
.flip .face-front .arrow svg {
    width: 1em;
    height: 1em
}
.flip .face-front .text {
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    font-family: 'Source Sans', sans-serif;
    font-size: .875em;
    line-height: 1.5em;
    font-weight: normal;
    color: #999;
    text-align: left;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.flip .face-front .text strong {
    font-weight: normal;
    color: #BADA55
}
.flip .face-front .text a {
    color: #ccc
}
.flip .face-front .text a:hover,
.flip .face-front .text a:focus {
    color: #BADA55
}
.flip .face-front .text.credits {
    font-size: .8125em;
    color: #808080
}
.flip .face-front .text.credits a {
    color: #aaa
}
.flip .face-front .text.credits a:hover,
.flip .face-front .text.credits a:focus {
    color: #BADA55
}
.flip .face-back .inner {
    position: relative;
    width: 90%;
    height: 90%;
    margin: 5%;
    overflow: hidden;
    background-image: -ms-linear-gradient(top left, transparent 0%, transparent 8%, rgba(136, 136, 136, 0.9) 8.1%, rgba(136, 136, 136, 0.9) 100%);
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjglIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iOC4xJSIgc3RvcC1jb2xvcj0iIzg4ODg4OCIgc3RvcC1vcGFjaXR5PSIwLjkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ODg4ODgiIHN0b3Atb3BhY2l0eT0iMC45Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(8%, rgba(0, 0, 0, 0)), color-stop(8.1%, rgba(136, 136, 136, 0.9)), color-stop(100%, rgba(136, 136, 136, 0.9)));
    background-image: -moz-linear-gradient(top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 8%, rgba(136, 136, 136, 0.9) 8.1%, rgba(136, 136, 136, 0.9) 100%);
    background-image: -webkit-linear-gradient(top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 8%, rgba(136, 136, 136, 0.9) 8.1%, rgba(136, 136, 136, 0.9) 100%);
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 8%, rgba(136, 136, 136, 0.9) 8.1%, rgba(136, 136, 136, 0.9) 100%)
}
.flip .face-back .btn-back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 17%;
    height: 17%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
    text-align: left
}
.flip .face-back .btn-back svg {
    position: absolute;
    top: 28%;
    left: 28%;
    width: 1em;
    height: 1em;
    margin: 0;
    padding: 0;
    vertical-align: top;
    fill: rgba(136, 136, 136, 0.9);
    -moz-transition: fill 200ms ease-in-out;
    -o-transition: fill 200ms ease-in-out;
    -webkit-transition: fill 200ms ease-in-out;
    transition: fill 200ms ease-in-out
}
.flip .face-back .btn-back:hover svg,
.flip .face-back .btn-back:focus svg {
    fill: #fff
}
.flip .face-back .btn-rate {
    display: inline-block;
    width: 33.75%;
    height: 39.375%;
    margin-top: 10%;
    border: 0;
    outline: 0;
    background: none
}
.flip .face-back .btn-rate svg {
    width: 100%;
    height: 100%
}
.flip .face-back .btn-rate .rate-stroke {
    fill: #fff
}
.flip .face-back .btn-rate .rate-background,
.flip .face-back .btn-rate .rate-rated {
    fill: transparent;
    -moz-transition: fill 200ms ease-in-out;
    -o-transition: fill 200ms ease-in-out;
    -webkit-transition: fill 200ms ease-in-out;
    transition: fill 200ms ease-in-out
}
.flip .face-back .btn-rate:not(.rated):hover .rate-background,
.flip .face-back .btn-rate:not(.rated):focus .rate-background {
    fill: #fff
}
.flip .face-back .btn-rate.rated {
    cursor: inherit;
    pointer-events: none
}
.flip .face-back .btn-rate.rated .rate-rated {
    fill: #fff
}
.flip .face-back .color-link {
    display: inline-block;
    margin-top: 10%;
    border-bottom: .1em solid transparent;
    font-size: 1.625em;
    line-height: 1.2em;
    color: rgba(255, 255, 255, 0.5)
}
.flip .face-back .color-link:hover,
.flip .face-back .color-link:focus {
    color: #fff
}
.flip .face-back .color-link b {
    color: #fff
}
.flip .face-back footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(85, 85, 85, 0.9);
    text-align: center
}
.flip .face-back footer:hover a {
    opacity: .4
}
.flip .face-back footer a {
    display: inline-block;
    width: 25%;
    height: 1.5em;
    padding: 4% 0;
    vertical-align: middle;
    opacity: 1;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}
.flip .face-back footer a:hover,
.flip .face-back footer a:focus {
    opacity: 1
}
.flip .face-back footer svg {
    width: 1.5em;
    height: 1.5em;
    fill: #fff
}
.flip .face-back form h1 {
    margin: 0;
    padding: 5% 0;
    font-size: 1.5em;
    text-transform: uppercase
}
.flip .face-back form label {
    display: block;
    height: 14%;
    margin: 3%;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: rgba(111, 111, 111, 0.9);
    font-weight: 300;
    white-space: nowrap;
    line-height: 1em
}
.flip .face-back form label[for='i4'] {
    display: none
}
.flip .face-back form label div {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.flip .face-back form span {
    display: inline-block;
    width: 20%;
    height: 1em;
    padding: 0;
    font-family: 'Source Sans', sans-serif;
    text-align: right;
    vertical-align: baseline
}
.flip .face-back form input {
    display: inline-block;
    width: 80%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background: none;
    font-family: 'Source Sans', sans-serif;
    line-height: 1em;
    vertical-align: baseline
}
.flip .face-back form input[id='i1'],
.flip .face-back form input[id='i2'] {
    text-transform: uppercase
}
.flip .face-back form button {
    display: block;
    width: 94%;
    height: 14%;
    margin: 3%;
    padding: .2em 0;
    border: 0;
    outline: 0;
    background: rgba(85, 85, 85, 0.9);
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center
}
.flip .face-back form button:hover,
.flip .face-back form button:focus {
    background: rgba(60, 60, 60, 0.9)
}
.flip .face-back form .respond {
    position: absolute;
    top: -5%;
    left: -5%;
    right: -5%;
    bottom: -5%;
    z-index: 0;
    display: none;
    background: #ccc
}
.flip .face-back form .respond div {
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    font-size: 1em;
    color: #111;
    text-align: center;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.flip .face-back form .respond img {
    width: 20%;
    height: 20%;
    -webkit-animation: load 800ms linear infinite;
    animation: load 800ms linear infinite
}
html.ios .flip .flip-trigger {
    cursor: pointer
}
html.ios .flip .flip-card.flipped .face-front {
    z-index: 1
}
html.ios .flip .flip-card.flipped .face-back {
    z-index: 2
}
html.ios .flip .face-front {
    z-index: 2
}
html.ios .flip .face-back {
    z-index: 1
}
html:not(.ios) .flip {
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}
html:not(.ios) .flip .flip-trigger {
    cursor: pointer
}
html:not(.ios) .flip .flip-card {
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}
html:not(.ios) .flip .flip-card.flipped .face-front {
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}
html:not(.ios) .flip .flip-card.flipped .face-back {
    -moz-transform: translateZ(1px) rotateY(-360deg);
    -ms-transform: translateZ(1px) rotateY(-360deg);
    -webkit-transform: translateZ(1px) rotateY(-360deg);
    transform: translateZ(1px) rotateY(-360deg)
}
html:not(.ios) .flip .card-face {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 800ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: -o-transform 800ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -webkit-transition: -webkit-transform 800ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: transform 800ms cubic-bezier(0.250, 0.460, 0.450, 0.940)
}
html:not(.ios) .flip .face-front {
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}
html:not(.ios) .flip .face-back {
    -moz-transform: translateZ(-1px) rotateY(-180deg);
    -ms-transform: translateZ(-1px) rotateY(-180deg);
    -webkit-transform: translateZ(-1px) rotateY(-180deg);
    transform: translateZ(-1px) rotateY(-180deg)
}
@media only screen and (min-width: 17em) {
    .flip {
        font-size: 1em
    }
}
@media only screen and (min-width: 20em) {
    .flip {
        font-size: 1.2em
    }
}
@media only screen and (min-width: 24em) {
    .flip {
        font-size: 1.5em
    }
}
@media only screen and (min-width: 31em) {
    .flip {
        width: 46%;
        margin: 2%;
        font-size: 1em
    }
}
@media only screen and (min-width: 45em) {
    .flip {
        width: 31.3%;
        margin: 1%
    }
}
@media only screen and (min-width: 60em) {
    .flip {
        width: 23%
    }
}
@media only screen and (min-width: 72em) {
    .flip {
        width: 19%;
        margin: .5%
    }
}
@media only screen and (min-width: 88em) {
    .flip {
        width: 15.6%
    }
}
@media only screen and (min-width: 104em) {
    .flip {
        width: 13.25%
    }
}
@media only screen and (min-width: 45em) and (max-width: 57.5em) {
    body>header h1 .name,
    body>header nav form {
        display: none
    }
}
@media only screen and (min-width: 45em) {
    body {
        background: #1a1a1a
    }
    .menu-trigger {
        display: none;
        visibility: hidden;
        opacity: 0
    }
    body>header {
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        width: auto;
        height: auto;
        border-bottom: .125em solid #000;
        border-right: 0;
        background: #333;
        -moz-transition: none 1s ease-in-out;
        -o-transition: none 1s ease-in-out;
        -webkit-transition: none 1s ease-in-out;
        transition: none 1s ease-in-out
    }
    body>header.pushed {
        -moz-transform: perspective(0) translate3d(0, 0, 0);
        -webkit-transform: perspective(0) translate3d(0, 0, 0);
        transform: perspective(0) translate3d(0, 0, 0)
    }
    body>header h1 {
        display: inline-block
    }
    body>header h1 a:hover .logo,
    body>header h1 a:focus .logo {
        background: #BADA55;
        text-shadow: .185em 0 0 #555
    }
    body>header h1 a:hover .name,
    body>header h1 a:focus .name {
        left: 0;
        color: #BADA55
    }
    body>header nav {
        display: inline-block
    }
    body>header nav li {
        display: inline-block;
        vertical-align: middle
    }
    body>header nav li:last-child {
        position: absolute;
        top: 0;
        right: 0
    }
    body>header nav li:last-child svg {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin: 0 .2em .2em 0;
        fill: #fff;
        vertical-align: middle;
        -moz-transition: fill 200ms ease-in-out;
        -o-transition: fill 200ms ease-in-out;
        -webkit-transition: fill 200ms ease-in-out;
        transition: fill 200ms ease-in-out
    }
    body>header nav li:last-child a:hover svg,
    body>header nav li:last-child a:focus svg {
        fill: #BADA55
    }
    body>header nav li:nth-last-child(2) {
        position: absolute;
        top: 0;
        right: 6em
    }
    body>header nav a {
        padding: 0 .65em;
        line-height: 3em
    }
    body>header nav a::before {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: 0;
        content: '';
        -moz-transition: height 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
        -o-transition: height 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
        -webkit-transition: height 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
        transition: height 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940)
    }
    body>header nav a:hover::before,
    body>header nav a:focus::before {
        width: auto;
        height: .2em
    }
    body>header nav input {
        display: block;
        width: 4.5em;
        height: 3em;
        margin: 0 1em;
        padding: 0;
        border: 0;
        outline: 0;
        background: none;
        font-weight: 300;
        font-size: 1.25em;
        line-height: 3em;
        text-transform: uppercase
    }
    main {
        position: static;
        background: transparent
    }
}
@media only screen and (min-width: 57.5em) {
    body>header nav {
        margin-left: 2em
    }
}